<nav
  class="navbar {{if this.isMobileMenuOpen "navbar--mobile-menu"}}">
  <ul
    {{!-- template-lint-disable  --}}
    onclick={{action (mut this.isMobileMenuOpen) false}}
    class="navbar__list">
    <li class="navbar__logo-container">
      <LinkTo @route="home" class="navbar__link navbar__logo">
        <img src="/assets/images/global/logo-with-name.svg" alt="The French Oven" class="navbar__logo-image">
      </LinkTo>
    </li>
    <li class="navbar__item navbar__home-item">
      <LinkTo @route="home" class="navbar__link">Home</LinkTo>
    </li>
    <li
      {{!-- template-lint-disable  --}}
      class="navbar__cakes-item"
      {{on "mouseenter" (action (mut this.showCakesDropdown) true)}}
      {{on "mouseleave" (action (mut this.showCakesDropdown) false)}}
      class="dropdown navbar__item">
      <LinkTo
        @route="cakes"
        onclick={{action (mut this.showCakesDropdown) false}}
        {{on "blur" this.onCakesBlur}}
        class="navbar__link navbar__cakes-link">
        Cakes
      </LinkTo>
      <button
        onclick={{action (mut this.showCakesDropdown) (not this.showCakesDropdown)}}
        class="navbar__down-arrow-wrapper">
        <svg class="navbar__down-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
      </button>
      <ul
        {{!-- template-lint-disable  --}}
        onclick={{action (mut this.showCakesDropdown) false}}
        class="dropdown__content {{if showCakesDropdown "dropdown__content--show"}}">
        <li class="dropdown__item"><LinkTo {{on "blur" this.onCakesBlur}} @route="cakes.everyday-cakes" class="dropdown__link">Round cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo {{on "blur" this.onCakesBlur}} @route="cakes.celebration-cakes" class="dropdown__link">Celebration cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo {{on "blur" this.onCakesBlur}} @route="cakes.kids-birthday-cakes" class="dropdown__link">Kids birthday cakes</LinkTo></li>
        <li class="dropdown__item"><LinkTo {{on "blur" this.onCakesBlur}} @route="cakes.eggless-cakes" class="dropdown__link">Eggless cakes</LinkTo></li>
      </ul>
    </li>
    <li class="navbar__item">
      <LinkTo @route="seasonals-cakes" class="navbar__link">Seasonals</LinkTo>
    </li>
    <li class="navbar__item">
      <LinkTo @route="about-us" class="navbar__link">About Us</LinkTo>
    </li>
    <li class="navbar__item">
      <LinkTo @route="contact" class="navbar__link">Contact</LinkTo>
    </li>
  </ul>
  <ul
    class="navbar__hamburger {{if this.isMobileMenuOpen "navbar__hamburger--open"}}"
    role="button"
    onclick={{action (mut this.isMobileMenuOpen) (not this.isMobileMenuOpen)}}>
    <li class="navbar__hamburger-line-1"></li>
    <li class="navbar__hamburger-line-2"></li>
    <li class="navbar__hamburger-line-3"></li>
  </ul>
</nav>