<div ...attributes class="home-carousel-slide flex {{if this.isLoading "home-carousel-slide--image-not-loaded"}}">
  <Loader @tagName="" @hide={{not this.isLoading}} />
  <img
    class="home-carousel-slide__image {{if this.isLoading "home-carousel-slide__image--not-loaded"}}"
    {{on "load" this.onImageLoaded}}
    src={{@imageSrc}}
    alt={{@altText}}>
</div>