<section class="home-carousel">

  {{#each cakes as |cake index|}}
    <Home::Carousel::Slide
      class="home-carousel__slide {{if (eq this.activeSlide index) "home-carousel__active"}}"
      @imageSrc={{cake.imageUrl}}
      @altText={{cake.name}} />
  {{/each}}

  <Home::Carousel::Dots
    @count="3"
    @activeSlide={{this.activeSlide}}
    @onDotClick={{this.onDotClick}} />
</section>