<section class="home-carousel">
  <Home::Carousel::Slide
    class="home-carousel__slide {{if (eq this.activeSlide 0) "home-carousel__active"}}"
    @imageSrc="/assets/images/home/blackforest@2x.png"
    @altText="Black Forest cake"
    @description="Treat yourself to our creamy and moist Black Forest cake." />
  <Home::Carousel::Slide
    class="home-carousel__slide {{if (eq this.activeSlide 1) "home-carousel__active"}}"
    @imageSrc="/assets/images/home/confetti-cake@2x.png"
    @altText="Confetti cake"
    @description="Kids love our fun and playful cakes for birthdays." />
  <Home::Carousel::Slide
    class="home-carousel__slide {{if (eq this.activeSlide 2) "home-carousel__active"}}"
    @imageSrc="/assets/images/home/chocolate@2x.png"
    @altText="Cherry cake"
    @description="Try our unique seasonal flavours to sweeten any holiday." />
  <Home::Carousel::Dots
    @count="3"
    @activeSlide={{this.activeSlide}}
    @onDotClick={{this.onDotClick}}
    />
</section>